@import "tailwindcss";

/* Make page background white and ensure minimum full height */
html, body, #root {
  height: 100%;
  margin: 0;
}
body {
  background: #ffffff;
  color: #111827; /* dark gray for good contrast */
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
